{% extends 'base.html' %} {% block content %}

<h1> Go Places Home Page</h1>
<hr>
<h2>Welcome to Go Places! An application for enthusiastic 
  travellers!</h2>
 <p>What are you waiting for? Go buy a plane ticket!!</p> 
<hr>

<div id="carousel" class="carousel slide"data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/images/california.jpeg" class="d-block w-100" alt="California">
    </div>
    <div class="carousel-item">
      <img src="../static/images/oradea.JPG" class="d-block w-100" alt="My Hometown">
    </div>
    <div class="carousel-item">
      <img src="../static/images/go_places.jpeg" class="d-block w-100" alt="Traveling the world">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% endblock %}